h1, h2, h3, h4, div, form {
   /*font-family: 'Sanchez', serif;*/
   font-family: 'Raleway', sans-serif;
    font-weight:400;
}
h1 {font-weight:700;}
.post-text h2,h3 {font-weight:200;}
body .well p, .container .well p, .container-fluid .well p, body .jumbotron p, .container .jumbotron p, .container-fluid .jumbotron p {font-weight:400;}
p, li {text-align:justify;
    font-weight:400;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
   /* font-family: 'Slabo 27px', serif;*/
   font-size:16px;
}
.post-text{
   max-width: 52em;
   padding: 6em 3em 0 3em !important;
}
.lead{
   font-weight:200;
}

.light {
    font-weight:200;
}


/*.e-content>div>p:first-child:first-line, */
p.ad:first-line
{
    /*text-transform:uppercase;*/
    font-variant: small-caps;
    position:relative;
    /*font-size:0.95em;*/
    letter-spacing:1px;
}


/*.e-content>div>p:first-child:first-letter, */
p.ad:first-letter
{
    letter-spacing:0;
    text-transform:uppercase;
    font-family: 'Playfair Display', serif;
    /* color:#628fbe;*/
    font-weight:400;
    font-size:3em;
    float:left;
    margin:0.13em 0.1em 0 0;
    line-height:0.7;
}

div.section>p {
    text-align: justify;
}

.noborder {
   border: 0px;
}

ul > li {
    list-style: none;
}

.post-text ul {
   padding-left: 2em;
}

.post-text ul > li:empty, .post-text ul>li>p.first {
   text-indent: -1.5em;
}
.post-text ul > li:empty::before, .post-text ul>li>p.first::before {
   content: "—  ";
}

p.quote, p.quote-en  {
   font-size:2em;
   font-style:italic;
   font-weight:400;
   font-family: 'Playfair Display', serif;
   position: relative;
   margin: 0.5em;
   padding:1em 1em 0.5em 3em;
   text-align: justify;
}
p.quote::before, 
p.quote-en::before {
   position: absolute;
   content: "“";
    font-family: 'Playfair Display', serif;
   font-weight:bold;
   
   font-size:4em;
   line-height: 1;
   color: #009688;
   top:0.05em;
   left:0;

}
p.quote::after,
p.quote-en::after {
   position: absolute;
   content: "”";
    font-family: 'Playfair Display', serif;
   font-weight:bold;
   font-size:4em;
   color: #009688;
   line-height:1;
   float:right;
   bottom:0;
   right:0;
}

#bs-navbar, nav.navbar {
    background-color: #009688;
    border: 0px;
}

a {
    color: #009688;
}
h2 {
    color: #333;
}

#bs-navbar ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    display: block;
    outline: 0;
    text-align: right;
    margin-right: 1em;
    padding: 5 0 5 0;
    font-weight:400;
}
/* add indicator for external link */
/*
a.external:after {
    font-family: "Glyphicons Halflings";
    content: "\e144"; 
    margin: 0 0 0 .5em;
    font-size:70%;
 }
 */

.e-content a {
    background: transparent none repeat scroll 0 0;
    border-bottom: 3px solid #cbf8df;
    box-shadow: 0 -4px 0 #bef9cb inset;
    color: #333;
    text-decoration: none;
    transition: background 150ms ease 0s;
    outline:  none;
}

.e-content h2>a, .e-content h3>a, .e-content h4>a{
   /* No decoration on hx titles */
    text-decoration: none;
    border-bottom: 0px;
    box-shadow:0 0 0 0;
}

.e-content  a:hover, .e-content a:focus {
    background: #bef9cb none repeat scroll 0 0;
    text-decoration: none;
    color: inherit;
}

